@keyframes fly-in {
  0% {
    transform: scale(0.85) translateY(10%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tap {
  0% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.85);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

.chat__headerInfo {
  flex: 1;
  margin-left: 20px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat__headerInfo > p {
  color: gray;
}

.chat__headerRight {
  display: flex;
}

.chat__attach {
  position: relative;
}

.attach__wrapper {
  position: absolute;
  top: 50px;
  top: 53px;
  right: -5px;
  z-index: 9999;
}

.attach__item {
  width: 50px;
  height: 50px;
  background-color: #38cc13;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0px #222;
  color: #fff;
  margin-bottom: 15px;
  animation: slideUp 0.5s ease 1;
}

.attach__item:hover {
  background-color: #38cc13b8;
}

.attach__item .MuiSvgIcon-root {
  color: #fff;
}

.file {
  display: none;
}

.chat__body {
  flex: 1;
  background-repeat: repeat;
  background-position: center;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.displaySelectedImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #464646bf;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in 1;
}

.displaySelectedImage .image {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 60%;
}

.displaySelectedImage .image img {
  width: 75%;
  height: 85%;
  border-radius: 5px;
}

.displaySelectedImage .action__btn .check__btn {
  color: #fff;
  background-color: #38cc13;
  margin-left: 30px;
}

.displaySelectedImage .action__btn .check__btn:hover {
  background-color: #38cc13ad;
}

.displaySelectedImage .action__btn .close__btn {
  color: #fff;
  background-color: red;
}

.displaySelectedImage .action__btn .close__btn:hover {
  background-color: #f44336;
}

.chat__body.chat__body--empty {
  justify-content: center;
  align-items: center;
}

.chat__log {
  box-sizing: border-box;
  padding: 20px;
  overflow-y: auto;
}

.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 30px;
  animation: fly-in 0.3s ease-in;
}

.chat__image {
  display: flex;
  width: 60%;
  flex-direction: column;
  position: relative;
}

.chat__image:hover {
  cursor: pointer;
  opacity: 0.8;
}

.chat__image img {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.image__info {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-size: x-small;
  align-items: center;
}

.image__info span {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
  position: relative;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  outline-width: 0;
  padding: 10px;
  border: none;
}

.chat__footer > form > button {
  display: none;
}

.chat__footer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.chat__audio {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  width: 60%;
  align-items: center;
  padding: 10px 29px 10px 10px;
  margin-bottom: 30px;
  position: relative;
  animation: fly-in 0.3s ease-in;
}

.chat__audio .chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat__audio .micIcon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: x-small;
  margin-left: 5px;
  background-color: #38cc13;
  border-radius: 50%;
  padding: 4px;
}

.chat__audio .audio__btn {
  color: #38cc13;
}

.chat__audio .audio__info {
  margin-left: 15px;
  position: relative;
  display: flex;
  flex: 1;
}

.chat__audio .audio__info p {
  margin: 0;
  position: absolute;
  top: 20px;
  font-size: x-small;
}

.chat__audio .audio__info .audio__length {
  left: 0;
}

.chat__audio .audio__info .audio__sendingTime {
  right: 0;
}

.stopRecord {
  border: 1px solid #333;
  border-radius: 50%;
  padding: 5px;
  animation: tap 1s ease infinite;
}

.audioRecord {
  display: flex;
  align-items: center;
}

.emoji-mart {
  position: absolute;
  bottom: 63px;
  left: 0;
}

.chat__reciver {
  margin-left: auto;
  background-color: #dcf8c6;
}
