.auth {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.auth__wrapper {
  display: flex;
  width: 60vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.auth__wrapper > img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.auth__wrapper > h2 {
  margin-bottom: 15px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.auth__form .MuiFormControl-root {
  margin-bottom: 20px;
}

.auth__btn {
  background-color: #38cc13 !important;
  margin: 10px 0 20px 0 !important;
}
