.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

p,
h3,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.app .notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.65;
}
