.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.sidebar__searchContainer > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.sidebar__chatList {
  flex: 1;
  background-color: white;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.sidebar__userInfo {
  display: flex;
  align-items: center;
}

.sidebar__userInfo > span,
chatItem__info p {
  overflow: hidden;
  width: 67px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 5px;
}

.chatItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
  position: relative;
}

.chatItem--dummy {
  padding: 20px;
}

.chatItem:hover {
  background-color: #ebebeb;
}

.chatItem__info {
  margin-left: 15px;
}

.chatItem__info > h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.chatItem__actions {
  position: absolute;
  top: 25%;
  right: 5px;
  z-index: 99;
}

.chatItem .chatItem--active::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #38cc13;
  position: absolute;
  left: 0;
  top: 0;
}

.chatItem > a {
  display: inherit;
  padding: 20px;
  flex: 1;
}

.sidebar__newChat {
  display: flex;
  padding: 20px;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}

.sidebar__newChat:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
